@page
@model ErrorModel
@{
    ViewData["Title"] = "Feil";
}

@if(Model.HemException != null) 
{
    <div class="notification is-danger">
    <strong>@Model.HemException.HttpStatus</strong> - @Model.HemException.Message
    </div>
}
else 
{
    <div class="notification is-danger">
        <strong>Feil.</strong> Det oppstod en feil ved behandling av forespørselen.
    </div>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}