@page
@model IndexModel
@{
    ViewData["Title"] = "Hovedside";
}

<div>
    <h1 class="title">HADU Event management system</h1>
    <ul>
        @foreach (var evt in Model.events)
        {
            <li>@evt.Name</li>
        }
    </ul>
</div>
