@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">HADU Event management system</h1>
    <ul>
        @foreach (var evt in Model.events)
        {
            <li>@evt.Name</li>
        }
    </ul>
</div>
