@page "{id:int?}"
@model HADU.hem.HemWeb.Areas.EventAdmin.Pages.EventCreateModel
@{
    ViewData["Title"] = "Nytt arrangement";
}

<h1>Opprett nytt arrangement</h1>

<form method="post">
    <div asp-validation-summary="All" class="has-text-danger"></div>
    <div class="field">
        <label asp-for="Input.Name" class="label"></label>
        <div class="control">
            <input asp-for="Input.Name" class="input" />
        </div>
        <span asp-validation-for="Input.Name" class="help is-danger"></span>
    </div>
    <div class="field">
        <label asp-for="Input.Description" class="label"></label>
        <div class="control">
            <input asp-for="Input.Description" class="input" />
        </div>
        <span asp-validation-for="Input.Description" class="help is-danger"></span>
    </div>
    <div class="field">
        <label asp-for="Input.StartTime" class="label"></label>
        <div class="control">
            <input asp-for="Input.StartTime" class="input" />
        </div>
        <span asp-validation-for="Input.StartTime" class="help is-danger"></span>
    </div>
    <div class="field">
        <label asp-for="Input.EndTime" class="label"></label>
        <div class="control">
            <input asp-for="Input.EndTime" class="input" />
        </div>
        <span asp-validation-for="Input.EndTime" class="help is-danger"></span>
    </div>
    <div class="field">
        <label asp-for="Input.Location" class="label"></label>
        <div class="control">
            <input asp-for="Input.Location" class="input" />
        </div>
        <span asp-validation-for="Input.Location" class="help is-danger"></span>
    </div>
    <div class="field">
        <label asp-for="Input.IsThirdParty" class="label"></label>
        <input asp-for="Input.IsThirdParty" class="checkbox" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>