@page
@model LoginModel

@{
    ViewData["Title"] = "Logg inn";
}

<h1 class="title">@ViewData["Title"]</h1>
<section>
    <form id="account" method="post">
        <div asp-validation-summary="All" class="has-text-danger"></div>
        <div class="field">
            <label asp-for="Input.Email" class="label"></label>
            <div class="control">
                <input asp-for="Input.Email" class="input" />
            </div>
            <span asp-validation-for="Input.Email" class="help is-danger"></span>
        </div>
        <div class="field">
            <label asp-for="Input.Password" class="label"></label>
            <div class="control">
                <input asp-for="Input.Password" class="input" />
            </div>
            <span asp-validation-for="Input.Password" class="help is-danger"></span>
        </div>
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary">Logg inn</button>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <a class="button is-text" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register ny bruker</a>
            </div>

            <div class="control">
                <a class="button is-text" asp-page="./ForgotPassword">Glemt passord?</a>
            </div>
        </div>
    </form>
</section>

